<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServicioPersonasUrl" value="http://localhost:61719/ServicioPersonas.svc" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
</configuration>
